#footer
  .container.text-center
    div
      | © 2014
      a(href='http://michaelsantus.com' target='_blank')  Michael Santus.
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/msantus/sabrina-loveplatform') GitHub Project
      |  ·
      a(href='https://github.com/msantus/sabrina-loveplatform/issues')  Issues
